<h1 class="ui header">Open games</h1>
<ul>
    <%= for game <- @games do %>
        <li><%= game %><button>Join game</button></li>
    <% end %>
</ul>
<script>window.currentUser = "<%= assigns[:current_user].name %>";</script>